.wrapper {
    display: flex;
    justify-content: 40px;
    align-items: center;
}

.spinner, svg {
    opacity: 0;
}

/* styles for radar spinner*/
.spinner {
    width: 40px;
    height: 40px;
    position: relative;
}
.hidden {
    opacity: 0;
}
.visible {
    opacity: 1;
}
input[type="checkbox"]:checked + .spinner {
    opacity: 1;
}
.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: navy;
    position: absolute;
    opacity: 0.6;
    left: 0;
    top: 0;
    animation: bounce 2.0s infinite linear;
}

.double-bounce2 {
    animation-delay: -1.0s;
}

@keyframes bounce {
    0%, 100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}

/* styles for flat spinner */

.flat-spinner {
    width: 40px;
    height: 40px;
    background-color: crimson;
    animation: rotateplane 2s infinite ease-in-out;
}

@keyframes rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: perspective(120px) rotateX(181deg) rotateY(0deg);
    }

    100% {
        transform: perspective(120px) rotateX(180deg) rotateY(-181deg);
    }
}